<%= erb :'partials/navbar' %>

 <div>
     <h1>List of Channels</h1>
       <ul>
         <% @channels.each do |channel| %>
         <li><form method= "post" action= "/channels/<%=channel.id %>"><input type ="submit" value ="<%= channel.name %>"></form></li>

         <% end %>
       <ul>
   </div>
