<body>
  <h2> <%= @channel.name %> </h2>
  <h2> <%= @channel.callsign %> </h2>
  <h2>Monthly: $<%= @channel.price_per_month %> </h2>
  <h3> Current number of Subscribers: <%= @channel.subscribers.length %> </h3>
</body>
