<h1>Log in</h1>

<form method='post' action='/sessions'>
  <div>
  <label>E-Mail Address</label>
  <input type='email' name='user[email]' placeholder="e-mail address">
  </div>
  <div>
    <label>Password</label>
    <input type='password' name='user[password]' placeholder="password">
  </div>
  <div>
    <input type='submit'>
  </div>
</form>
