<div>
  <span>
    Name:
    <%= @channel.name  %>
  </span>
</div>
<div>
  <span>
    Callsign:
    <%= @channel.callsign %>
  </span>
</div>
<div>
  <span>
    Price:
    <%=  @channel.price_per_month%>
  </span>
</div>
