<h1>Welcome to Generic Channel Streaming Company</h1>

<!-- Log in email: joesph_sporer@grahamgutmann.com -->
<!-- Password: password -->

<div>
  <h3>Log in to your account:</h3>
  <form action="/users/:id" method="post">
    <label>Email:</label>
    <input type="text" placeholder="hello@world.com" name="user[email]"><br>
    <label>Password:</label>
    <input type="password" placeholder="password" name="user[password]"><br>
    <input type="submit" value="Log In">
  </form>
</div>

<div>
  <h3>Sign up for an account below:</h3>
  <form action="/users/new" method="get">
    <input type="submit" value="Sign Up">
  </form>
</div>

<h2>Channels</h2>
<ul>
<% Channel.all.each do |chan| %>
  <li>Name: <%=chan.name%><br>
  Callsign: <%=chan.callsign%><br>
  Monthly Price: $<%=chan.price_per_month%><br>
  Number of Subscribers: <%=chan.subscribers.count%></li><br>
  <% end %>
</ul>
