<div id="login">
  <form action="/users" method="post">
    <label>Create an account</label>
    <div><input type="text" placeholder="First Name" name="user_information[first_name]" ></div>
    <div><input type="text" placeholder="Last Name" name="user_information[last_name]" ></div>
      <%= erb(:'partials/login') %>
  </form>
</div>
