<h1>Register a New Account</h1>
  <form method="post" action="/users/new">
    <div>
      <label>First Name:</label>
      <input type='text' name='user[first_name]' placeholder='First Name'/>
    </div>
    <div>
      <label>Last Name:</label>
      <input type='text' name='user[last_name]' placeholder='Last Name'/>
    </div>
    <div>
      <label>Email:</label>
      <input type='email' name='user[email]' placeholder='Email'/>
    </div>
    <div>
      <label>Password:</label>
      <input type='password' name='user[password]' placeholder='Password'/>
    </div>
    <div>
      <input type='submit' value='Register'/>
    </div>
  </form>
