<h1>New User<h1>
  <% if @errors %>
    <% @errors.each do |error| %>
     <%= error %>
     <% end %>
    <% end %>
<div id="login_form">
  <form id="login" method="post" action="/users">
    <input type="text" name="user[first_name]" placeholder="First Name"/>
    <input type="text" name="user[last_name]" placeholder="Last Name"/>
    <input type="email" name="user[email]"placeholder="E Mail"/>
    <input type="password" name="user[password]" placeholder="Password"/>
    <input type="submit" value"Submit"/>
  </form>
</div>
