<h1>Welcome, <%= @user.first_name %></h1>
<h3>Below are the shows you are currently watching</h3>
<ul>
  <li>blah blah</li>
  <li>blah blah blah</li>
  <li>pew pew pew </li>
</ul>

<form action="/" method="get">
  <input type="submit" value="Log Out">
</form>
