<h1>Welcome, <%= @user.first_name %></h1>
<h3>Below are the channels you are currently subscribed to:</h3>

<% total = 0 %>

<ul>
<% @user.channels do |chan| %>
  <% total += chan.price_per_month %>
  <li><%= chan.name %><br><%= chan.price_per_month %></li>
<% end %>
</ul>
<p><%= total %>

<form action="/" method="get">
  <input type="submit" value="Log Out">
</form>
