<h2>New Account Sign Up</h2>

<div>
  <form action="/users" method="post">
    <label>First Name:</label>
    <input type="text" name="users[first_name]"></br>
    <label>Last Name:</label>
    <input type="text" name="users[last_name]"></br>
    <label>Email:</label>
    <input type="text" name="users[email]"></br>
    <label>Password:</label>
    <input type="password" name="users[password]"></br>
    <input type="submit" value="Sign Up">
  </form>
</div>
