<form action="/login" method="post">
  Email:<br>
  <input type="text" name="user[email]"><br><br>
  Password:<br>
  <input type="password" name="user[password]"><br><br>
  <input type="submit" value="Submit">
</form>
