<h1>Create New Account</h1>
<div id="login">
  <form action ="/users" method="post">
    <!-- First Name:<br>
      <input type="text" placeholder="first name" name="user_infortmation[first_name]"><br>
    Last Name:<br>
      <input type="text" placeholder="last name" name="user_infortmation[last_name]"><br>
    Email:<br>
      <input type="email" placeholder="email addresss" name="user_infortmation[email]"><br>
    Password:<br>
      <input type="password" placeholder="password" name="user_infortmation[password]"><br>
      <input type="submit" value='submit'> -->
      <%= erb(:'partials/register') %>
  </form>
</div>
