<div class="container">
  <h1>Buy lots of cable subscriptions please!</h1>
  <p>We offer the best channels and we are really really inexpensive! $$$</p>

  <table>
    <tr>
      <th>Follow us!</th>
      <th>HQ Location</th>
    </tr>
    <tr>
      <td>We actually dont have twitter</td>
      <td>In Iceland!</td>
    </tr>
    <tr>
      <td>Or facebook</td>
      <td><code>123 fake street</code></td>
    </tr>
    <tr>
      <td>Or instagram</td>
      <td><code>Disco sandwich, Anytown, USA</code></td>
    </tr>
    <tr>
      <td>So not really, but okay</td>
      <td><code>Ba BLAM!</code></td>
    </tr>
  </table>
</div>
