<div class="container">
  <h1>Welcome!</h1>
  <div>
    <a href="/users/new">Register</a>
  </div>
  <div>
    <a href="/login">Login</a>
  </div>
  <div>
    <a href='/channels'>Current Available Channels</a>
  </div>
</div>
