<div class="container">
  <h1>Welcome to the Crud and Rest Checkpoint Challenge!</h1>
  <p>Hello, person!</p>


  <form action="/new_user" method="get">
    <div><input type="submit" value="Sign Up"></div>
  </form>
  <form action="/login" method="get">
    <div><input type="submit" value="Log in"</div>
  </form>
  <% if session[:id] %>
    <form action="/logout" method="get">
      <div><input type="submit" value="Log out"</div>
    </form>
    <%end%>
  </div>
  <div>
    <ul>
      <%find_channels%>
      <%@channel.each do |channel| %>
        <li><%= channel.name%></form></li>
      <%end%>
    <ul>
  </div>
</div>
