<form action="/login" method="post">
  Email:<br>
  <input type="text" name="email" value=""><br><br>
  Password:<br>
  <input type="text" name="hashed_password" value=""><br><br>
  <input type="submit" value="Submit">
</form>