<div>

    <label>Sign up for an Account</label>
    <div>
      <form action="/new_user" method="post">
    <div><input type="string" placeholder="First Name" name="user_info[first_name]" ></div>
    <div><input type="string" placeholder="Last Name" name="user_info[last_name]" ></div>
    <div><input type="email" placeholder="E-Mail Address" name="user_info[email]" ></div>
    <div><input type="password" placeholder="Password" name="user_info[hashed_password]"></div>
    <div><input type="submit" value='submit'></div>
    </form>

    </div>
</div>
