<form action="/users" method="post">
  First name:<br>
  <input type="text" name="first_name" value=""><br>
  Last name:<br>
  <input type="text" name="last_name" value=""><br><br>
  Email:<br>
  <input type="text" name="email" value=""><br><br>
  Password:<br>
  <input type="text" name="hashed_password" value=""><br><br>
  <input type="submit" value="Submit">
</form>

