
<div>
  <%= erb(:'partials/nav_bar') %>
</div>
<div>
<% @user.channels.each do |channel| %>
<div>
  <% @channel = channel %>
  <%= erb(:'partials/display_channel_info') %>
</div>
<div>
<span>
  More <a href="/channels/<%= @channel.id %>">information</a>
</span>
</div>
<% end %>
</div>
<div>
  <span>
    Total Price:
    <%= @user.total_subscription_price %>
  </span>
</div>
